.container {
  display: grid;
  background-color: #353535;
  height: 100vh;
  grid-template-columns: 250px 470px;
  grid-gap: 50px;
  padding: 50px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}

.button {
  height: 50px;
  margin-top: 30px;
  text-align: center;
  line-height: 50px;
  background-color: rgba(255,255,255,0.5);
  transition: 0.1s background-color;
  font-weight: 700;
  font-size: 24px;
  color: #353535;
  cursor: pointer;

  &:hover {
    background-color: rgba(255,255,255,0.3);
  }

  &:active {
    background-color: rgba(255,255,255,0.7);
  }

  &[data-disabled='true'] {
    opacity: 0.3;
    pointer-events: none;
  }
}

.time {
  color: rgba(255, 255, 255, 0.5);
  font-size: 60px;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 500;
}

@media screen and (max-width: 991px){
  .container {
    padding: 15px;
    grid-template-columns: 1fr;
    grid-gap: 15px;
  }

  .rightColumn {
    grid-row: 1;
  }

  .options {
    grid-gap: 15px;
    grid-template-columns: repeat(4, 1fr);
  }

  .time {
    font-size: 40px;
  }

  .buttons {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(2, 1fr);
  }
}